/* font style  */
.fira-sans-regular {
  font-family: "Fira Sans", sans-serif;
  font-style: normal;
}

/* shared style  */
*{
    margin: 0;
    padding: 0;
}

.section-title{
    font-size: 40px;
    /* font-weight: 800px; */
    margin-bottom: 32px;
}

.bg-color{
    background-color: #F1F1F3;
}

.p-btn{
    padding: 15px 30px;
    font-size: 18px;
    font-weight: 500px;
    color: #006A50;
    border-radius: 8px;
    border: 2px solid #006A50;
    background-color: transparent;
    cursor: pointer;
}
.p-btn-2{
    padding: 17px 34px;
    font-size: 18px;
    font-weight: 500px;
    color: white;
    border-radius: 8px;
    border: none;
    background-color: #006A50;
    cursor: pointer;
}
.center{
    text-align: center;
}

/* nav style  */
nav{
    /* padding: 24px 160px; */
    max-width: 1280px;
    margin: 24px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav h1{
    font-size: 32px;
}

/* main section style  */
main{
    max-width: 1280px;
    margin: 0 auto;
}

/* hero section style  */
.hero{
    display: flex;
    align-items: center;
    gap: 64px;
    background-color: rgba(198, 228, 214, 1);
    padding: 80px 60px;
    border-radius: 24px;
    margin-bottom: 80px;
}
.heroinfo{
    width: 622px;
}
.heroimage{
    width: 475px;
}
.hero-title{
    font-size: 24px;
    color: rgba(14, 14, 14, 0.5);
    margin-bottom: 16px;
}
.hero-desc{
    margin-bottom: 24px;
    font-size: 56px;
    color: #0E0E0E;
}

/* pillar section style  */
.pillar-section{
    margin-bottom: 80px;
}
.pillars{
    display: flex;
    gap: 24px;
}
.pillar{
    width: 302px;
    padding: 24px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background-color: white;
}
.pillar-title{
    font-size: 18px;
    color: rgba(14, 14, 14, 0.8);
    margin-bottom: 12px;
}
.pillar-desc{
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
}
img{
    margin-bottom: 24px;
}

/* vision section style  */
.visions{
    margin-top: 32px;
    margin-bottom: 32px;
    display: flex;
    gap: 24px;
}

.vision-1{
    width: 411px;
    padding: 32px;
    border-radius: 16px;
    background-color: rgba(84, 144, 245, 0.2);
}
.vision-1-btn{
    margin-top: 24px;
    padding: 11px 20px;
    font-size: 16px;
    font-weight: 800px;
    background-color: rgba(84, 144, 245, 1);
    color: white;
    border-radius: 16px;
    border: none;
    margin-bottom: 32px;
}

.vision-2{
    width: 411px;
    padding: 32px;
    border-radius: 16px;
    background-color: rgba(198, 228, 214, 1);
}
.vision-2-btn{
    margin-top: 24px;
    padding: 11px 20px;
    font-size: 16px;
    font-weight: 800px;
    background-color: #09A15C;
    color: white;
    border-radius: 16px;
    border: none;
    margin-bottom: 32px;
}

.vision-3{
    width: 411px;
    padding: 32px;
    border-radius: 16px;
    background-color: rgba(247, 235, 207, 1);
}
.vision-3-btn{
    margin-top: 24px;
    padding: 11px 20px;
    font-size: 16px;
    font-weight: 800px;
    background-color: #FFC239;
    color: white;
    border-radius: 16px;
    border: none;
    margin-bottom: 32px;
}

.cotation{
    font-size: 16px;
    margin-bottom: 12px;
    color: rgba(14, 14, 14, 0.8);
}
.author{
    font-size: 20px;
    color: rgba(14, 14, 14, 0.8);
    font-weight: 700px;
}
.author-desc{
    font-size: 16px;
    color: rgba(14, 14, 14, 0.6);
}
.motivation{
    padding:0px 0px 0px 30px ;
    border: 1px solid rgba(14, 14, 14, 0.15);
    margin-bottom: 80px;
    border-radius: 16px;
}
.motivation img{
    padding-top: 30px;
}
.absolute-implement{
    position: relative;
    bottom: 66px;
}

/* recent news section style  */
.recent-news > .pillar-desc{
    margin-bottom: 32px;
}
.satellite-box{
    display: flex;
    gap: 32px;
    background-color: white;
    justify-content: center;
    align-items: center;
    padding: 48px 48px 20px 48px;
    border-radius: 24px;
    margin-bottom: 24px;
}
.satellite-img{
    width: 408px;
}
.satellite-img img{
    border-radius: 24px;
}
.satellite-info{
    width: 744px;
}
.satellite-title{
    font-size: 32px;
    color: rgba(14, 14, 14, 0.8);
    margin-bottom: 12pxs;
}
.aljazeeria{
    width: 134px;
    margin-bottom: 12px;
}
.dt{
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
    margin-bottom: 12px;
}
.satellite-desc{
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
    margin-bottom: 32px;
}

/* donate section style  */
.donate{
    margin-top: 56px;
    margin-bottom: 80px;
    padding: 0px 88px;
}
.ammount{
    display: flex;
    gap: 24px;
    justify-content: space-between;
    align-items: center;
    margin-top: 32px;
    margin-bottom: 32px;
}
.ammount-btn{
    padding: 40px;
    background-color: white;
    border-radius: 16px;
    /* background-color: rgba(198, 228, 214, 1); */
    cursor: pointer;
}
.ammount-bg{
    background-color: rgba(198, 228, 214, 1);
}

input[type=text]{
    width: 100%;
    display: block;
    /* height: 50px; */
    border: none;
    text-align: center;
    font-size: 30px;
    color: rgba(14, 14, 14, 0.3);
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 32px 0px;
}